/*  your css code here. If applicable */
.container{
	padding:100px;
	margin:100px;
	height:10px;
	width:40%;
	background-color:gray;
	border:3px solid black;
	border-radius:10%;
	display:flex;
	justify-content:center;
	align-items:center;
}
.green{
	height:70px;
	width:70px;
	border-radius:50%;
	background-color:green;
	
}
.red{
	height:70px;
	width:70px;
	border-radius:50%;
	background-color:red;
	margin:2%;
	
}
.yellow{
	height:70px;
	width:70px;
	border-radius:50%;
	background-color:yellow;
	
}


